<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFE LINE HOSPITAL </title> 
    <link rel="stylesheet" href="../static/css/appointment.css">
   </head>
<body>

  <section class="section hero" style="background-image: url('./static/images/hero-bg.png')" aria-label="home">
    <div class="reglogo"> <a href="#" class="logo">
      <img src="../static/images/logo.png" width="136" height="46" loading="lazy" alt="Lifeline">
    </a></div>
  <div class="wrapper">
    <h2>Book Appointment</h2>
    <form action="#" method="post">
        {% csrf_token %}
      <div class="input-box">
        <input type="text" id="patientname" name="patientname" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <input type="text" id="age" name="age" placeholder="Enter your age" required>
      </div>
      <div class="input-box">
        <input type="text" id="contactnum" name="contactnum" placeholder="Enter Mobile Number" required>
      </div>

      <div class="input-box">
        <input type="text" id="doctorname" name="doctorname" placeholder="Enter Doctor Name" required>
        <div class="column">
            <div class="select-box">
         <select>
            <option>Select Doctor</option>
            <option>Doctor1</option>
            <option>Doctor2</option>
            <option>Doctor3</option>
            <option>Doctor4</option>
         </select>
         </div>
        </div>
      </div>

      <div class="input-box">
      
        <input type="text" id="date" name="date" placeholder="Appointment Date" onfocus="(this.type='date')" onblur="if(!this.value) this.type='text'">
      </div>
      
    
      <h3>Address:</h3>

      <div class="input-box2">
        <input type="text" id="address1" name="address1" placeholder="Enter Area" required>
        <input type="text" id="address2" name="address2" placeholder="Enter City" required>
      </div>
      <div class="input-box2">
        <input type="text" id="address3" name="address3" placeholder="Enter State" required>
        <input type="text" id="pin" name="pin" placeholder="Postal Code" required>
      </div>
      
      <div class="input-box button">
        <input type="Submit" value="Book Appointment">
      </div>
    </form>
  </div>
  </section>

</body>
</html>