<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFE LINE HOSPITAL</title> 
    <link rel="stylesheet" href="static/css/patientLog.css">
   </head>
<body>

  <section class="section hero" style="background-image: url('./static/images/hero-bg.png')" aria-label="home">
    <div class="loginlogo"> <a href="#" class="logo">
        <img src="./static/images/logo.png" width="136" height="46" loading="lazy" alt="Lifeline">
      </a></div>
  <div class="wrapper">
    
   
    <h2>Login</h2>
    <form action="#"> 
      <div class="input-box">
        <input type="text" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" required>
      </div>
      
      <div class="input-box button">
        <input type="Submit" value="Login">
      </div>
      <div class="text">
        <h3>Not Registered? <a href="./patientReg">Create an account</a></h3>
      </div>
    </form>
  </div>
  </section>

</body>
</html>